<%- include('partials/header') -%>

<h1>BODY</h1>

<h1 class="text-3xl font-bold underline"> Hello world!</h1>

<button class="bg-sky-600 hover:bg-sky-700 ...">
    Save changes
  </button>

<%- include('partials/footer') -%>